<h1>Edit <%= @page.title %> Page</h1>
<br/>
<div id="page_preview_container">
	<%= @page.preview %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("div.preview").click(function() {
			var id = ($(this).attr("id").split("_")[1].length > 0) ? $(this).attr("id").split("_")[1] : "new";
			window.location.href = "/admin/pages/<%= @page.id %>/"+id+"/"+$(this).attr("id").split("_")[0];
		});
	});
</script>