<div id="footer">
	<%= @footer.html_safe %>
	<p style="display:none;">The Roman Catholic Church in Fleet and Church Crookham. Holy Trinity Catholic Church. The Catholic Church of Our Lady in Fleet.</p>
</div>