<div id="footer">
	<%= @footer.html_safe %>
	<p style="display:none;" id="desc">The Roman Catholic Church in Fleet and Church Crookham. Holy Trinity Catholic Church. The Catholic Church of Our Lady in Fleet.</p>
	<p style="display:none;" id="keywords">Fleet, Church Crookham, Roman Catholic Church, Holy Trinity, Our Lady, Parish, Community</p>
</div>