<ul id="news_ticker">
	<% if @news_tickers.length > 0 %>
		<% @news_tickers.each do |news_ticker| %>
			<li id="news_ticker_<%= news_ticker.id %>" class="news_ticker_item"><%= news_ticker.title %></li>
		<% end %>
	<% else %>
		<li id="news_ticker_0" class="news_ticker_item">&nbsp;</li>
	<% end %>
</ul>

<script type="text/javascript">
	$(document).ready(function() {
		if ($(".news_ticker_item").size() > 0 ) {
			$('#news_ticker').ticker({
				speed: 0.10, 
				pauseOnItems: 6000,
				fadeInSpeed: 300
			});
		};
	});
</script>