<% unless @galleries.empty? %>
	<div class="panel-wrapper full-width">
		<div class="panel full">
			<div>
				<ul class="gallery_list">
					<% @galleries.each do |gallery| %>
						<li class="gallery_link" data-link="/events/gallery/<%= gallery.id %>">
							<% if gallery.images.first && gallery.images.first.thumb_content %>
								<img class="thumbnail" src="/thumb/<%= gallery.images.first.id %>" />
							<% else %>
								<img src="http://placehold.it/100?text=Open" />
							<% end %>
							<br/><%= gallery.name %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="panel-wrapper full-width">
		<div class="panel full center">
			<h2>Nothing here yet...</h2>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("li.gallery_link").click(function() {
			window.location.href = $(this).data("link");
		});
	});
</script>
