<% if @magazine %>
	<div class="panel-wrapper full">
		<div class="panel full" style="text-align:center;">
			<% if @magazines.length > 0 %>
				<br/>
				<h2>Magazines Archive</h2>
				To download previous magazines, please select one from the dropdown and then click download.
				<br/>
				<select id="magazines_archive">
					<% @magazines.each do |magazine| %>
						<option value="<%= magazine.filename %>.pdf"><%= magazine.filename %>.pdf</option>
					<% end %>
				</select>
				<button id="magazine_archive_download">Download</button>
				<br/><br/>
			<% end %>
			<button id="magazineBtn" style="width:200px;height:50px;margin:20px;display:none;" onclick="window.location.href='/embed_magazine/<%= @magazine.filename %>.pdf'">View Latest Magazine</button>
			<iframe id="magazineIframe" src="/embed_magazine/<%= @magazine.filename %>.pdf" width="100%" height="800px"></iframe>
		</div>
	</div>
<% else %>
	<div class="panel-wrapper full">
		<div class="panel full">
			<h2>Nothing here yet...</h2>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		if (/iPhone|iPod|iPad/.test(navigator.userAgent)) {
			$("#magazineBtn").show();
			$("#magazineIframe").hide();
		}
		
		$("button#magazine_archive_download").click(function() {
			window.location.href = "/magazine/"+$("select#magazines_archive").val();
		});
	});
</script>