<% if @newsletter %>
	<div class="panel-wrapper full">
		<div class="panel full" style="text-align:center;">
			<% if @newsletters.length > 0 %>
				<br/>
				<h2>Newsletters Archive</h2>
				To download previous newsletters, please select one from the dropdown and then click download.
				<br/>
				<select id="newsletters_archive">
					<% @newsletters.each do |newsletter| %>
						<option value="<%= newsletter.filename %>.pdf"><%= newsletter.filename %>.pdf</option>
					<% end %>
				</select>
				<button id="newsletter_archive_download">Download</button>
				<br/><br/>
			<% end %>
			<iframe src="/embed_newsletter/<%= @newsletter.filename %>.pdf" width="100%" height="800px"></iframe>
		</div>
	</div>
<% else %>
	<div class="panel-wrapper full">
		<div class="panel full">
			<h2>Nothing here yet...</h2>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("button#newsletter_archive_download").click(function() {
			window.location.href = "/newsletter/"+$("select#newsletters_archive").val();
		});
	});
</script>