<div class="panel-wrapper full">
	<div id="unsubscribe_panel" class="panel full center" style="padding-top:40px;">
		<input id="mailing_list" type="text" /><br/>
		<input id="unsubscribe" type="button" value="Unsubscribe" onclick="unsubscribe();" /><br/>
		<span id="mailing_list_error" class="error">This is not a valid email address.</span>
		<span id="mailing_list_success">You've successfully unsubscribed.</span>
	</div>
</div>