<h1>Email Addresses</h1>
<table>
	<tr>
		<th>Email</th>
		<th>Subscribed?</th>
		<th></th>
	</tr>
	<% @email_addresses.each do |email_address| %>
		<tr>
			<td><%= email_address.email_address %></td>
			<td><%= email_address.enabled %></td>
			<td><a class="rails-delete" data-link="/notes/delete/<%= note.id %>">Destroy</a></td>
		</tr>
	<% end %>
</table>
