<p id="notice"><%= notice %></p>
<table class="show">
	<tr>
		<th>Email</th>
		<td><%= @email_address.email_address %></td>
	</tr>
	<tr>
		<th>Subscribed?</th>
		<td><%= @email_address.enabled %></td>
	</tr>
</table>
<%= link_to 'Back', email_addresses_path %>